<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.mobilemechanic">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".shared.ForgotPasswordActivity">
        </activity>
        <activity android:name=".client.History.HistoryActivity">
        <activity android:name=".mechanic.addservice.AddService"
                  android:label="Add Service"
        android:theme="@style/AddService"
        >
        </activity>
        <activity
                android:name=".mechanic.MechanicServices"
                android:label="@string/title_activity_mechanic_services"
                android:theme="@style/NoActionBar">
        </activity>
        <activity
                android:name=".mechanic.MechanicWelcomeActivity"
                android:label="@string/title_activity_mechanic_welcome"
                android:theme="@style/NoActionBar">
        </activity>

        <activity android:name=".client.servicerating.ServiceRatingActivity">
        </activity>
        <activity android:name=".client.findservice.FindServiceActivity">
        </activity>
        <activity android:name=".client.history.ClientHistoryActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
        <activity android:name=".shared.RegistrationActivity">
        </activity>
        <activity android:name=".client.postservicerequest.PostServiceRequestActivity">
        </activity>
        <activity android:name=".client.ClientWelcomeActivity">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".shared.SignInActivity">
        </activity>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>
    </application>

</manifest>